  .button {
	width: 100%;
	line-height: 65px;
	background-color: #FF9500;
	border: none;
	padding: 0;
	text-align: center;
	font-weight: 700;
	color: #FFFFFF;
	cursor: pointer;
	
	&[data-variant="primary"] {
		margin-top: .5rem;
		background-color: #FF9500;
		font-family: var(--font-fira-sans, 'sans-serif');
		font-size: 26px;
		border-radius: 47px;
		text-transform: uppercase;
	}

	&[data-variant="survey"] {
		background-color: #2F69B3;
		border-radius: 7px;
		font-family: var(--font-inter, 'sans-serif');
		font-size: 23px;
		text-transform: capitalize;
	}
	
	&:hover {
		opacity: 0.9;
	}
	
	&:active {
		opacity: 0.8;
	}
  }

