.disclaimerBanner {
	padding: 9px 0px;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	font-family: var(--font-lato, 'sans-serif');
	font-size: 10px;
	font-weight: 500;
	background-color: #1874CD;
}

