/* TODO: clean up styles */

.footer {
	width: 100%;
	padding: 1rem 1rem 200px;
	background-color: #fff;
	text-align: center;
	font-family: var(--font-lato);
	font-weight: 400;
	color: var(--text-primary);
}

.footerInner {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.footerLinks {
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: 27px;
	text-transform: uppercase;
}

.footerLinks a {
	display: block;
	color: var(--text-primary);
	text-decoration: none;

	&:hover,
	&:active {
		text-decoration: underline;
		color: var(--text-primary);
	}
}

