.formWrapper {

	  input[type="text"],
	  input[type="email"],
	  textarea,
	  select {
		width: 100%;
		height: 50px;
		border: 2px solid #2C2C37;
		border-radius: 7px;
		background-color: #FFFFFF;
		padding: 15px;
		font-family: var(--font-lato, 'sans-serif');
		font-size: 15px;
		font-weight: 400;
	  }

	  select {
		padding: 0px;
	  }
	  
	  input[type="text"]:focus,
	  input[type="email"]:focus,
	  textarea:focus {
		outline: none;
		border-color: #2C2C37;
	  }
	  
	  label {
		font-family: var(--font-lato, 'sans-serif');
		font-size: 14px;
		font-weight: 700;
		color: #515151;
		display: block;
		margin-bottom: 8px;
		text-align: left;
		text-transform: capitalize;
	  }
}